
    /* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#PanelUI-button,
#bookmarks-menu-button,
#downloads-button,
#home-button,
#stylish-toolbar-button,
#abp-toolbarbutton,
#urlbar-history-dropmarker,
#back-button,
#forward-button {
	display: none !important; 
}

#identity-box,
#urlbar-reload-button {
	display: none !important;
}

#urlbar-wrapper {
	margin-left: -5px !important;
	margin-right: 0px !important;
	padding-left: 5px !important;
}

#urlbar {
	border: 0 !important;
	border-radius: 0 !important;
	margin: 0 0 0 0 !important;
	padding: 0 -5px 1px 5px !important;
	height: 17px !important;
	min-height: 17px !important;
	background: #252525 !important;
	color: #cccccc !important;
	font-family: "berry" !important;
	font-size: 11px !important;
}

#nav-bar {
	height: 17px !important;
	min-height: 17px !important;
	margin-top: 0 !important;
	margin-right: 0px !important;
}

#nav-bar-customization-target {
	margin-top: -2px !important;
	margin-bottom: -2px !important;
	text-align: center;
}

#appcontent,
#appcontent > #content,
#appcontent > #content > tabbox > tabpanels {
	background: #303030 !important;
}

* {
	border-width: 0px !important;
}

tabs#tabbrowser-tabs, tabs#tabbrowser-tabs * {
	-moz-appearance: none !important;
	border-width: 0px !important;
	border-radius: 0px !important;	
	border-bottom: 0px !important;
	background-image: none !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	max-height: 17px !important;
	min-height: 17px !important;
	bottom: 0px !important;
}

tabs#tabbrowser-tabs {
	background: #252525 !important;
	font-weight: normal !important;
	text-align: center !important;
	padding-top: 0px !important;
	margin-left: -1px !important;
	padding-top: 0px !important;
	
}

.tabbrowser-tab {
	color: #aaaaaa !important;
	background: #151515 !important;
	margin-left: 0px !important;
	
}

.tabbrowser-tab[selected=true] {
	color: #cccccc !important;
	background: #252525 !important;
	box-shadow: none !important;
}

.tabbrowser-tab .tab-text {
	margin-left: 3px !important;
	margin-right: 3px !important;
	margin-top: 3px !important;
	padding-top: 3px !important;
	font-family: "berry" !important;
	font-size: 11px !important;
	
}

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
	min-width: 30px !important;
	max-width: 100% !important;
	
}

.tabbrowser-tab[selected="true"]:after {
	top: 0px !important; 
	background: #222 !important;
	content: "";  
	border-radius: 0px !important;
	border-top: 8px solid #252525;
	border-bottom: 8px solid #252525;
	border-right: 8px solid #151515 ;
	position: absolute !important; margin-right: 10px !important;
}

.tabbrowser-tab[selected="true"]:before {
	content: "";  
	background: #222 !important;
	border-top: 8px solid #252525;
	border-bottom: 8px solid #252525;
	border-left: 9px solid #151515;
	position: absolute !important; top: 0px;
	margin-left: -9px !important;
}

/* HIDE */
toolbarbutton#appmenu-toolbar-button,
toolbarbutton#alltabs-button,
toolbarbutton#new-tab-button,
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down,
/*.tabs-closebutton-box,*/
.tabs-border-bottom,
.tab-throbber,
.tabs-newtab-button,
.tab-throbber[progress]{
	display: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
	width: 9px !important;
	height: 10px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	margin-left: 12px !important;
}

.notificationbox-stack,
.tab-background-start,
.tab-background-end {
	display: none !important;
}

#TabsToolbar::after { display: none !important; }
#navigator-toolbox { border: 0 !important; margin-bottom: -1px !important; }
.tabbrowser-tab::before, .tabbrowser-tab::after { background: url(none) !important; }

.tabbrowser-tab * {
	background: url(none) !important; list-style-image: none !important;
	margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; -moz-appearance: none !important;
}

#TabsToolbar, #tabbrowser-tabs {
	-moz-appearance: none !important;
	margin-left: -14px !important;
	margin-right: -8px !important;
	color: #151515 !important;
}
